#center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
}
#card{
    display: none;
    padding: 10px;
    background-color: antiquewhite;
    width: 420px;
    height: auto;
}

#image{
    
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: auto;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}